#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2' ERR
set -Eeuo pipefail

# {{ include (joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "executable_power-menu.sh") | sha256sum }}
# {{ include (joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "../style.css") | sha256sum }}

# Kill any running Waybar processes
pkill -x waybar || true

# Wait briefly to ensure Waybar is fully terminated
sleep 1

# Start Waybar again
nohup waybar >/dev/null 2>&1 &
