[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Environment=LD_PRELOAD=/usr/lib/libgtk4-layer-shell.so
ExecStart={{ .chezmoi.destDir }}/.config/mute-indicator/mute-indicator.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
