# .pacman-pkglist.txt hash: {{ include "pacman/.pacman-pkglist.txt" | sha256sum }}
# .pacman-optdeplist.txt hash: {{ include "pacman/.pacman-optdeplist.txt" | sha256sum }}
# .pacman-foreignpkglist.txt hash: {{ include "pacman/.pacman-foreignpkglist.txt" | sha256sum }}

NEEDED="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-pkglist.txt"
OPTDEPS="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-optdeplist.txt"
FOREIGN="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-foreignpkglist.txt"

# Make sure files exist and are not empty
[ -s $NEEDED ] || { echo "$NEEDED missing or empty"; exit 1; }
[ -s $OPTDEPS ] || { echo "$OPTDEPS missing or empty"; exit 1; }
[ -s $FOREIGN ] || { echo "$FOREIGN missing or empty"; exit 1; }

# Install needed packages
pacman -S --needed - < "$NEEDED"

# Install optional dependencies
pacman -S --needed --asdeps - < "$OPTDEPS"

# Install foreign packages
paru -S -needed - < "$FOREIGN"

# Remove packages that are installed but are not listed in files
# Installed
pacman -Rsu --confirm $(comm -23 \
    <(pacman -Qqetn --confirm | sort) \
    <(sort "$NEEDED"))
    
# Optional
pacman -Rsu --confirm $(comm -23 \
    <(pacman -Qqem --confirm | sort) \
    <(sort "$FOREIGN"))
        
# Foreign
pacman -Rsu --confirm $(comm -23 \
    <(pacman -Qqem --confirm | sort) \
    <(sort "$FOREIGN"))
