#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2; \
      echo "Reboot, then run `chezmoi apply` again" >&2' ERR
set -Eeuo pipefail

# .pacman-pkglist.txt hash: {{ include "pacman/.pacman-pkglist.txt" | sha256sum }}
# .pacman-optdeplist.txt hash: {{ include "pacman/.pacman-optdeplist.txt" | sha256sum }}
# .pacman-foreignpkglist.txt hash: {{ include "pacman/.pacman-foreignpkglist.txt" | sha256sum }}

NEEDED="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-pkglist.txt"
OPTDEPS="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-optdeplist.txt"
FOREIGN="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-foreignpkglist.txt"

# Make sure files exist and are not empty
[ -s $NEEDED ] || { echo "❌ [ERROR] $NEEDED missing or empty"; exit 1; }
[ -s $OPTDEPS ] || { echo "❌ [ERROR] $OPTDEPS missing or empty"; exit 1; }
[ -s $FOREIGN ] || { echo "❌ [ERROR] $FOREIGN missing or empty"; exit 1; }

echo ">>> Refreshing sync database"
sudo pacman -Sy

echo ">>> Installing packages"
sudo pacman -S --needed - < "$NEEDED"

echo ">>> Installing optional dependencies"
sudo pacman -S --needed --asdeps - < "$OPTDEPS"

echo ">>> Installing foreign packages"
paru -S --needed - < "$FOREIGN"

echo ">>> Uninstalling removed packages (error means nothing to do)"
sudo pacman -Rsu --confirm $(comm -23 \
    <(sudo pacman -Qqetn --confirm | sort) \
    <(sort "$NEEDED")) || true

echo ">>> Uninstalling removed optional dependencies (error means nothing to do)"
sudo pacman -Rsu --confirm $(comm -23 \
    <(sudo pacman -Qqem --confirm | sort) \
    <(sort "$FOREIGN")) || true

echo ">>> Uninstalling removed foreign packages (error means nothing to do)"
sudo pacman -Rsu --confirm $(comm -23 \
    <(sudo pacman -Qqem --confirm | sort) \
    <(sort "$FOREIGN")) || true
