#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2; \
      echo "Reboot, then run `chezmoi apply` again" >&2' ERR
set -Eeuo pipefail

# .pacman-pkglist.txt hash: {{ include "pacman/.pacman-pkglist.txt" | sha256sum }}
# .pacman-optdeplist.txt hash: {{ include "pacman/.pacman-optdeplist.txt" | sha256sum }}
# .pacman-foreignpkglist.txt hash: {{ include "pacman/.pacman-foreignpkglist.txt" | sha256sum }}

NEEDED="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-pkglist.txt"
OPTDEPS="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-optdeplist.txt"
FOREIGN="{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | dir }}/.pacman-foreignpkglist.txt"

# Make sure files exist and are not empty
[ -s $NEEDED ] || { echo "❌ [ERROR] $NEEDED missing or empty"; exit 1; }
[ -s $OPTDEPS ] || { echo "❌ [ERROR] $OPTDEPS missing or empty"; exit 1; }
[ -s $FOREIGN ] || { echo "❌ [ERROR] $FOREIGN missing or empty"; exit 1; }

prune() {
    sudo pacman -Rsu --confirm $(comm -23 <(sort "$1") <(sort "$2")) || true
}

echo ">>> Refreshing sync database"
sudo pacman -Sy

echo ">>> Installing packages (needed + optional deps)"
sudo pacman -S --needed - < <(cat "$NEEDED" "$OPTDEPS")

echo ">>> Installing foreign packages"
paru -S --needed --confirm - < "$FOREIGN"

echo ">>> Pruning removed packages (error means nothing to do)"
prune <(sudo pacman -Qqetn) "$NEEDED"

echo ">>> Pruning removed optional / foreign packages (error means nothing to do)"
prune <(sudo pacman -Qqem) <(cat "$OPTDEPS" "$FOREIGN")
