{
  "lastChangelogVersion": "0.52.12",
  "enabledModels": [
    "anthropic/claude-opus-4-6",
    "anthropic/claude-sonnet-4-5"
  ],
  "defaultProvider": "anthropic",
  "defaultModel": "claude-opus-4-6",
  "hideThinkingBlock": false,
  "defaultThinkingLevel": "low",
  "packages": [
{{- if not .headless }}
    "npm:pi-interactive-shell",
{{- end }}
    "npm:@aliou/pi-guardrails",
    "npm:pi-librarian",
    "npm:pi-brave-search"
  ],
  "terminal": {
    "clearOnShrink": true
  },
  "quietStartup": true
}
