[git]
autoAdd = true

[data]
managed = {{ promptBoolOnce . "managed" "managed device" }}

[data.git]
name = "{{ promptStringOnce . "git.name" "git name" }}"
email = "{{ promptStringOnce . "git.email" "git email" }}"
