[data]
managed = {{ promptBoolOnce . "managed" "managed device" }}
headless = {{ promptBoolOnce . "headless" "headless server" }}

[diff]
command = "difft"
args = ["--background", "light"]
exclude = ["scripts"]

[data.git]
name = "{{ promptStringOnce . "git.name" "git name" }}"
email = "{{ promptStringOnce . "git.email" "git email" }}"

{{ range list "json" "jsonc" "json5" -}}
[[textconv]]
pattern = "**/*.{{ . }}"
command = "biome"
args = ["format", "--stdin-file-path", "file.jsonc"]

{{ end -}}
{{ range list "css" "js" "jsx" "ts" "tsx" -}}
[[textconv]]
pattern = "**/*.{{ . }}"
command = "biome"
args = ["format", "--stdin-file-path", "file.{{ . }}"]

{{ end -}}
{{ range list "yaml" "yml" "md" "mdx" -}}
[[textconv]]
pattern = "**/*.{{ . }}"
command = "prettier"
args = ["--stdin-filepath", "file.{{ . }}"]

{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

{{- end -}}
