# Ignore everything, except...
*

# .config and children
!.config
!.config/**

.config/spotify/Users
.config/micro
.config/discord
.config/fish/*
.config/spotify
.config/gh
.config/unity3d
.config/octopi
.config/org.coolercontrol.CoolerControl/CoolerControl.conf
.config/chromium
.config/jellyfin.org
.config/pulse
.config/heroic
.config/dconf
.config/sunshine
.config/menus
.config/font*
.config/rustdesk
.config/session
.config/autostart
.config/vesktop
.config/baloofileinformationrc
.config/QtProject.conf
.config/btop
.config/go

!.local
!.local/bin
!.local/bin/*
!.local/bin/gow/*

# Other dots
!.bash*
!.git*
!.profile
!.zshrc

# Misc
Crash Reports
*.log
.bash_history
