[core]
	autocrlf = "input"
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/git-signing-personal.pub
{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
{{- end }}
[diff]
	tool = rtk
[difftool "rtk"]
	cmd = "rtk diff \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
[commit]
	gpgsign = true
[init]
	defaultBranch = main
{{- if hasKey . "git_work" }}
[includeIf "gitdir:{{ .git_work.repo_dir }}/"]
	path = {{ .git_work.repo_dir }}/.gitconfig
{{- end }}
