{{ includeTemplate "dot_profile.tmpl" .
  | replaceAllRegex "(?s)# fish-skip-start.*?# fish-skip-end\\n" ""
  | replaceAllRegex "(?m)^(set [-+]a|\\[.*)\\n" ""
  | replaceAllRegex "export ([A-Za-z_]+)=(.*)" "set -gx $1 $2"
}}
