export EDITOR=nano
export VISUAL=zed

# export LESS="-FR -j3 --color=always"
# export PAGER="less -FR -j3 --color=always"

{{- if eq .chezmoi.os "linux" }}
export BROWSER=zen-browser

export QT_STYLE_OVERRIDE=kvantum

export PROTON_ENABLE_WAYLAND=1
export PROTON_NO_WM_DECORATION=1

export MANGOHUD=1

export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_ENABLE_HIGHDPI_SCALING=1
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:$PATH"
export XDG_CONFIG_HOME="$HOME/.config"
{{- end }}
