export BROWSER=zen-browser
export TERM=kitty
export EDITOR=nano

{{ if eq .chezmoi.os "linux" }}
export VISUAL=zeditor
{{ else }}
export VISUAL=zed
{{ end }}

{{ if eq .chezmoi.os "linux" }}

export QT_STYLE_OVERRIDE=kvantum

export PROTON_ENABLE_WAYLAND=1
export PROTON_NO_WM_DECORATION=1

export MANGOHUD=1

export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_ENABLE_HIGHDPI_SCALING=1

{{ end }}
