// chezmoi:template:left-delimiter="/*#" right-delimiter="*/"
// Zed version: /*# output "/bin/bash" "-c" "zed -v | awk '{print $2}'" -*/

/*#- if false *//*
  Available modifiers:
    - ctrl- The control key
    - cmd-, win- or super- for the platform modifier (Command on macOS, Windows key on Windows, and the Super key on Linux).
    - alt- for alt (option on macOS)
    - shift- The shift key
    - fn- The function key
    - secondary- Equivalent to cmd when Zed is running on macOS and ctrl when on Windows and Linux

  We assume that out input only contains: ctrl, alt, shift, super, fn
  Single letters for regex purposes, that are unique to only one modifer: c, a, h, u, n
  (this jq does not support lookahead/lookbehind unfortunately)
/*# end -*/

/*# $darwinPostProcess := `.` -*/
/*#- if eq .chezmoi.os "darwin" -*/
  /*# $darwinPostProcess = `.[].bindings |= with_entries(
      select((
        if (.value | type) == "string" then
          .value
        elif (.value | type) == "array" then
          .value[0]
        end
      ) | test("app_menu::") | not) |
      .key |= (
        gsub("^(?<pre>[^c]*a[^c ]*-)left$";  "\(.pre)f18") |
        gsub("^(?<pre>[^c]*a[^c ]*-)right$"; "\(.pre)f19") |
        gsub("^(?<pre>[^a]*-?)ctrl-(?<mid>[^a ]*-?)(?<key>(left|right|backspace|delete))$";  "\(.pre)alt-\(.mid)\(.key)") |
        gsub("^(?<pre>[^c]*-?)home$"; "\(.pre)secondary-left")  |
        gsub("^(?<pre>[^c]*-?)end$";  "\(.pre)secondary-right") |
        gsub("ctrl"; "secondary")
  ))` -*/
/*#- end -*/
[
  // === Default Linux bindings, processed with jq to be cross-platform
  /*# joinPath (.chezmoi.targetFile | dir) "_defaults/default-linux.json" | include
      | fromJsonc | jq $darwinPostProcess | first
      | toPrettyJson | trim | trimPrefix "[" | trimSuffix "]" | trim *//*# "," */

  // === MacOS compatibility
  {
    "context": "Terminal && os == macos",
    "bindings":{
      "cmd-left": ["terminal::SendKeystroke", "home"],
      "cmd-right": ["terminal::SendKeystroke", "end"]
    }
  },

  // === Custom modifications
  /*# joinPath (.chezmoi.sourceFile | dir) ".custom-keymap.jsonc" | include
      | trim | trimPrefix "[" | trimSuffix "]" | trim */
]
