#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2' ERR
set -Eeuo pipefail

# {{ range (glob (joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "**/*.kbd")) }}
#   {{ include . | sha256sum }}
# {{ end }}

# {{ if eq .chezmoi.os "darwin" }}
# Mac-specific keys are only valid on mac
kanata --check --cfg {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "macbook-ansi.kbd" }} # "
# {{ end }}

kanata --check --cfg {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "razer.kbd" }} # "
