#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2' ERR
set -Eeuo pipefail

send_reload() {
  local port="$1"
  printf '{"Reload":{}}\n' |
    nc -w 1 127.0.0.1 "$port"
}

# {{ range (glob (joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "../../1-configs/**/*.kbd")) }}
#   {{ include . | sha256sum }}
# {{ end }}

echo -e "\t>>> Validating macbook-ansi.kbd:"
kanata --check --cfg {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "../../1-configs/macbook-ansi.kbd" }} # "
echo -e "\t>>> Validating razer.kbd:"
kanata --check --cfg {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "../../1-configs/razer.kbd" }} # "
echo -e "\t>>> Validating go60.kbd:"
kanata --check --cfg {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "../../1-configs/go60.kbd" }} # "

send_reload 53141
send_reload 53142
send_reload 53143

echo "Kanata configuration applied"
