<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.jtroo.kanata.go60</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/kanata</string>
    <string>--cfg</string>
    <string>{{ .chezmoi.destDir }}/.config/kanata/1-configs/go60.kbd</string>
    <string>--port</string>
    <string>53143</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key><string>/tmp/io.github.jtroo.kanata.go60</string>
  <key>StandardErrorPath</key><string>/tmp/io.github.jtroo.kanata.go60</string>
</dict>
</plist>
