#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2' ERR
set -Eeuo pipefail

# {{ range (glob (joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "**/*")) }}
#   {{ if not (. | stat).isDir }}
#     {{ include . | sha256sum }}
#   {{ end }}
# {{ end }}

systemctl --user daemon-reload
systemctl --user restart mute-indicator.service

echo "Restarted mute-indicator.service"
echo "View logs with:"
echo -e "\tjournalctl --user -xeu mute-indicator.service"
 