#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2' ERR
set -Eeuo pipefail

install_service() {
  local name="$1"
  local src="{{ .chezmoi.destDir }}/.config/kanata/launchctl/$name"
  local dst="/Library/LaunchDaemons/$name"

  echo "▶ Installing $name"

  sudo cp -rf "$src" "$dst"
  sudo launchctl bootout system "$dst" || true
  sudo launchctl bootstrap system "$dst"
  sudo launchctl enable "system/$name"

  echo "✅ $name installed"
}

# {{ include "dot_config/kanata/launchctl/io.github.jtroo.kanata.macbook-ansi.plist.tmpl" | sha256sum }}
install_service io.github.jtroo.kanata.macbook-ansi.plist

# {{ include "dot_config/kanata/launchctl/io.github.jtroo.kanata.macos-razer.plist.tmpl" | sha256sum }}
install_service io.github.jtroo.kanata.macos-razer.plist
