[Desktop Entry]
Version=1.0
Type=Application
Name=FFplay
GenericName=Media Player
Comment=Play audio/video files with FFmpeg
Exec=ffplay -autoexit -loglevel warning %U
Terminal=false
NoDisplay=false
MimeType=video/mp4;video/webm;video/x-matroska;video/quicktime;video/x-msvideo;video/x-flv;video/mpeg;video/ogg;audio/mpeg;audio/ogg;audio/flac;audio/wav;
Categories=AudioVideo;Player;
StartupNotify=false
