[Desktop Entry]
Name=Paseo
Comment=Orchestrate multiple coding agents from desktop and mobile
Exec={{ .chezmoi.homeDir }}/Applications/Paseo-x86_64.AppImage --class=Paseo %U
Terminal=false
Type=Application
Icon=Paseo
StartupWMClass=Paseo
MimeType=x-scheme-handler/paseo;
Categories=Development;
