# Brews
brew "chezmoi"
brew "fastfetch"
brew "fish"
brew "gh"
brew "eza"
brew "direnv"
# brew "yt-dlp"
# brew "borgbackup-fuse"
brew "imagemagick"
brew "flock"
brew "dust"
brew "btop"
brew "less"
brew "watchexec"

brew "kanata"

brew "lazygit"
brew "jj"
brew "lazyjj"
brew "difftastic"

brew "docker-completion"

# brew "esptool"

# brew "volta"
# brew "deno"

# brew "colima"
# brew "helm"
# brew "k3d"
# brew "k9s"
# brew "kind"
# brew "kubernetes-cli"
# brew "kustomize"
# brew "minikube"
# brew "terraform"

# Casks
cask "cursor"
cask "font-fira-code"
cask "linearmouse"
cask "zed"

cask "kitty"
cask "aldente"
cask "hammerspoon"

# cask "macfuse"
# cask "vorta"
# cask "localsend"

cask "chromium"
cask "cursor"
cask "bruno"

tap "FelixKratz/formulae"
brew "FelixKratz/formulae/sketchybar"
cask "font-hack-nerd-font"
cask "font-sketchybar-app-font"

tap "nikitabobko/tap"
cask "nikitabobko/tap/aerospace"

# Tools to install with brew if nix/devenv is not available
{{- if .managed }}
brew "fnm",
    postinstall: "ls ~/.local/bin/nvm >/dev/null 2>&1 || ln -s `which fnm` $HOME/.local/bin/nvm"

cask "gcloud-cli"
brew "openjdk"
{{- end }}

# Fails on managed system
{{- if not .managed }}
cask "stats"
cask "karabiner-elements"
cask "iina"
cask "jellyfin-media-player"
cask "meld"
{{- end }}
