# Brews
brew "chezmoi"
brew "fastfetch"
brew "fish"
brew "gh"
brew "eza"
brew "direnv"
# brew "yt-dlp"
# brew "borgbackup-fuse"
brew "imagemagick"
brew "flock"
brew "dust"
brew "btop"

brew "lazygit"
brew "jj"
brew "lazyjj"

brew "docker-completion"

# brew "esptool"

# brew "volta"
# brew "deno"

# brew "colima"
# brew "helm"
# brew "k3d"
# brew "k9s"
# brew "kind"
# brew "kubernetes-cli"
# brew "kustomize"
# brew "minikube"
# brew "terraform"

# Casks
cask "cursor"
cask "font-fira-code"
cask "linearmouse"
cask "zed"

cask "kitty"
cask "aldente"

# cask "macfuse"
# cask "vorta"
# cask "localsend"

cask "chromium"
cask "cursor"

tap "FelixKratz/formulae"
brew "FelixKratz/formulae/sketchybar"
cask "font-hack-nerd-font"
cask "font-sf-pro"
cask "sf-symbols"
cask "font-sketchybar-app-font"

tap "nikitabobko/tap"
cask "nikitabobko/tap/aerospace"

# Tools for managed system in place of nix/devenv
{{- if .managed }}
brew "fnm",
    postinstall: "ls ~/.local/bin/nvm >/dev/null 2>&1 || ln -s `which fnm` $HOME/.local/bin/nvm"

cask "gcloud-cli"
{{- end }}

# Fails on managed system
{{- if not .managed }}
cask "stats"
cask "karabiner-elements"
cask "iina"
cask "jellyfin-media-player"
{{- end }}
