*
!.gitignore

!options
!options/**

options/actionSummary.xml
options/features.usage.statistics.xml
options/github.xml
options/gitlab.xml
options/inline.factors.completion.xml
options/other.xml
options/project.default.xml
options/recentProjects.xml
options/updates.xml
options/window.layouts.xml
options/window.state.xml
options/terminal.xml

!webstorm64.vmoptions
