#waybar {
    background-color: transparent;
}

#waybar > box {
    border-radius: 6px;
    /* Core height / 2 */
    padding: 2px;
    /* Maximum height for glow (has mouse collision) */
    margin: 8px;
    background: linear-gradient(
        0deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 150, 150, 1) 75%,
        rgba(255, 0, 0, 1) 100%
    );
    box-shadow:
        0px 0px 4px rgba(255, 0, 0, 1),
        0px 0px 2px rgba(255, 0, 0, 1);
}
