{
  description = "Darwin configuration";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-25.05-darwin";
    darwin.url = "github:nix-darwin/nix-darwin/nix-darwin-25.05";
    darwin.inputs.nixpkgs.follows = "nixpkgs";
    home-manager.url = "github:nix-community/home-manager/release-25.05";
    home-manager.inputs.nixpkgs.follows = "nixpkgs";
  };

  outputs = inputs@{ nixpkgs, home-manager, darwin, ... }: {
    darwinConfigurations = {
      "{{ .chezmoi.hostname }}" = darwin.lib.darwinSystem {
        system = "aarch64-darwin";
        modules = [
          ./darwin-config.nix
          home-manager.darwinModules.home-manager
          {
            users.users.{{ .chezmoi.username }} = {
              name = "{{ .chezmoi.username }}";
              home = "/Users/{{ .chezmoi.username }}";
            };
            system.primaryUser = "{{ .chezmoi.username }}";
            system.stateVersion = 6;

            home-manager.useGlobalPkgs = true;
            home-manager.useUserPackages = true;
            home-manager.users.{{ .chezmoi.username }} = ./home.nix;

            # Optionally, use home-manager.extraSpecialArgs to pass
            # arguments to home.nix
          }
        ];
      };
    };
  };
}
