#!/bin/bash
trap 'echo "❌ Error on line $LINENO: $BASH_COMMAND" >&2' ERR
set -Eeuo pipefail

# {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "init.lua" | include | sha256sum }}

echo "Reloading Hammerspoon config..."
hs -A -q -c "hs.reload()" || true
