[Unit]
Description=Kanata Service
After=default.target

[Service]
ExecStart=/usr/bin/kanata -c %h/.config/kanata/1-configs/razer.kbd --port 53141
Restart=no

[Install]
WantedBy=default.target
