accordion-padding = 30
after-login-command = []
after-startup-command = []
default-root-container-layout = "accordion"
default-root-container-orientation = "horizontal"
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
on-focused-monitor-changed = ["move-mouse monitor-lazy-center"]
start-at-login = true

exec-on-workspace-change = [
    '/bin/bash',
    '-c',
    '/opt/homebrew/opt/sketchybar/bin/sketchybar --trigger aerospace_workspace_change AEROSPACE_FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE AEROSPACE_PREV_WORKSPACE=$AEROSPACE_PREV_WORKSPACE; ~/.config/aerospace/pip-move.sh'
]

[exec.env-vars]
PATH = "/etc/profiles/per-user/mg/bin:${PATH}"

[gaps.inner]
horizontal = [
    { monitor."built-in" = 4 },
    8,
]
vertical = [
    { monitor."built-in" = 4 },
    8,
]

[gaps.outer]
bottom = [
    { monitor."built-in" = 0 },
    8,
]
left = [
    { monitor."built-in" = 0 },
    8,
]
right = [
    { monitor."built-in" = 0 },
    8,
]
top = [
    { monitor."built-in" = 0 },
    38,
]

[key-mapping]
preset = "qwerty"

[mode.main.binding]
ctrl-shift-alt-a = "workspace 1A"
ctrl-shift-alt-s = "workspace 2S"
ctrl-shift-alt-d = "workspace 3D"
ctrl-shift-alt-f = "workspace 4F"
ctrl-shift-alt-q = "workspace 5Q"
ctrl-shift-alt-w = "workspace 6W"
ctrl-shift-alt-e = "workspace 7E"
ctrl-shift-alt-r = "workspace 8R"

ctrl-shift-alt-cmd-a = "move-node-to-workspace 1A --focus-follows-window"
ctrl-shift-alt-cmd-s = "move-node-to-workspace 2S --focus-follows-window"
ctrl-shift-alt-cmd-d = "move-node-to-workspace 3D --focus-follows-window"
ctrl-shift-alt-cmd-f = "move-node-to-workspace 4F --focus-follows-window"
ctrl-shift-alt-cmd-q = "move-node-to-workspace 5Q --focus-follows-window"
ctrl-shift-alt-cmd-w = "move-node-to-workspace 6W --focus-follows-window"
ctrl-shift-alt-cmd-e = "move-node-to-workspace 7E --focus-follows-window"
ctrl-shift-alt-cmd-r = "move-node-to-workspace 8R --focus-follows-window"

ctrl-shift-alt-cmd-f13 = "workspace-back-and-forth"

ctrl-shift-alt-v = "layout h_tiles h_accordion"

[[on-window-detected]]
run = "layout floating"

[on-window-detected.if]
app-id = "com.apple.finder"

[[on-window-detected]]
run = "layout floating"

[on-window-detected.if]
window-title-regex-substring = "^(Picture[- ]in[- ]Picture|Meet - [a-z-]*)$"

[[on-window-detected]]
check-further-callbacks = true
run = "layout floating"

[on-window-detected.if]
app-id = "app.zen-browser.zen"
window-title-regex-substring = "Extension: "

[[on-window-detected]]
run = "move-node-to-workspace 1 --focus-follows-window"

[on-window-detected.if]
app-id = "app.zen-browser.zen"

[[on-window-detected]]
run = "move-node-to-workspace 2 --focus-follows-window"

[on-window-detected.if]
app-id = "dev.zed.Zed"

[[on-window-detected]]
run = "move-node-to-workspace 2 --focus-follows-window"

[on-window-detected.if]
app-id = "com.microsoft.VSCode"

[[on-window-detected]]
run = "move-node-to-workspace 2 --focus-follows-window"

[on-window-detected.if]
app-id = "com.jetbrains.WebStorm"

[[on-window-detected]]
run = "move-node-to-workspace 2 --focus-follows-window"

[on-window-detected.if]
app-id = "com.todesktop.230313mzl4w4u92"

[[on-window-detected]]
run = "move-node-to-workspace 3 --focus-follows-window"

[on-window-detected.if]
app-id = "com.hnc.Discord"

[[on-window-detected]]
run = "move-node-to-workspace 3 --focus-follows-window"

[on-window-detected.if]
app-id = "com.tinyspeck.slackmacgap"

[[on-window-detected]]
run = "move-node-to-workspace 3 --focus-follows-window"

[on-window-detected.if]
app-id = "com.facebook.archon"
