accordion-padding = 30
after-login-command = []
default-root-container-layout = "accordion"
default-root-container-orientation = "horizontal"
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
on-focused-monitor-changed = ["move-mouse monitor-lazy-center"]
start-at-login = true

after-startup-command = ['exec-and-forget sketchybar']
exec-on-workspace-change = [
    '/bin/bash',
    '-c',
    'sketchybar --trigger aerospace_workspace_change AEROSPACE_FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE AEROSPACE_PREV_WORKSPACE=$AEROSPACE_PREV_WORKSPACE; ~/.config/aerospace/pip-move.sh'
]

[exec.env-vars]
PATH = "/opt/homebrew/bin:/etc/profiles/per-user/mg/bin:${PATH}"

[gaps.inner]
horizontal = [
    { monitor."built-in" = 4 },
    8,
]
vertical = [
    { monitor."built-in" = 4 },
    8,
]

[gaps.outer]
bottom = [
    { monitor."built-in" = 0 },
    8,
]
left = [
    { monitor."built-in" = 0 },
    8,
]
right = [
    { monitor."built-in" = 0 },
    8,
]
top = [
    { monitor."built-in" = 0 },
    38,
]

[key-mapping]
preset = "qwerty"

[mode.main.binding]
ctrl-shift-alt-a = "workspace 1A"
ctrl-shift-alt-s = "workspace 2S"
ctrl-shift-alt-d = "workspace 3D"
ctrl-shift-alt-f = "workspace 4F"
ctrl-shift-alt-q = "workspace 5Q"
ctrl-shift-alt-w = "workspace 6W"
ctrl-shift-alt-e = "workspace 7E"
ctrl-shift-alt-r = "workspace 8R"

ctrl-shift-alt-cmd-a = "move-node-to-workspace 1A"
ctrl-shift-alt-cmd-s = "move-node-to-workspace 2S"
ctrl-shift-alt-cmd-d = "move-node-to-workspace 3D"
ctrl-shift-alt-cmd-f = "move-node-to-workspace 4F"
ctrl-shift-alt-cmd-q = "move-node-to-workspace 5Q"
ctrl-shift-alt-cmd-w = "move-node-to-workspace 6W"
ctrl-shift-alt-cmd-e = "move-node-to-workspace 7E"
ctrl-shift-alt-cmd-r = "move-node-to-workspace 8R"

ctrl-shift-alt-cmd-f13 = "workspace-back-and-forth"

ctrl-shift-alt-left  = "focus left"
ctrl-shift-alt-c     = "focus left"
ctrl-shift-alt-right = "focus right"
ctrl-shift-alt-v     = "focus right"
ctrl-shift-alt-up    = "exec-and-forget aerospace focus up --boundaries-action fail || aerospace list-workspaces --monitor focused --empty no | aerospace workspace next --stdin"
ctrl-shift-alt-down  = "exec-and-forget aerospace focus down --boundaries-action fail || aerospace list-workspaces --monitor focused --empty no | aerospace workspace prev --stdin"

ctrl-shift-alt-cmd-left  = "move left --boundaries-action stop"
ctrl-shift-alt-cmd-c     = "move left --boundaries-action stop"
ctrl-shift-alt-cmd-right = "move right --boundaries-action stop"
ctrl-shift-alt-cmd-v     = "move right --boundaries-action stop"
ctrl-shift-alt-cmd-up    = "move-node-to-workspace --focus-follows-window next"
ctrl-shift-alt-cmd-down  = "move-node-to-workspace --focus-follows-window prev"

ctrl-shift-alt-b = "layout h_tiles h_accordion"

[[on-window-detected]]
if.app-id = "com.apple.finder"
run = "layout floating"

[[on-window-detected]]
if.window-title-regex-substring = "^(Picture[- ]in[- ]Picture|Meet - [a-z-]*)$"
run = "layout floating"

[[on-window-detected]]
if.app-id = "app.zen-browser.zen"
if.window-title-regex-substring = "Extension: "
check-further-callbacks = true
run = "layout floating"

[[on-window-detected]]
if.app-id = "app.zen-browser.zen"
run = "move-node-to-workspace 1A --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.google.Chrome"
run = "move-node-to-workspace 1A --focus-follows-window"

[[on-window-detected]]
if.app-id = "dev.zed.Zed"
run = "move-node-to-workspace 2S --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.microsoft.VSCode"
run = "move-node-to-workspace 2S --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.jetbrains.WebStorm"
run = "move-node-to-workspace 2S --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.todesktop.230313mzl4w4u92"
run = "move-node-to-workspace 2S --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.hnc.Discord"
run = "move-node-to-workspace 3D --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.tinyspeck.slackmacgap"
run = "move-node-to-workspace 3D --focus-follows-window"

[[on-window-detected]]
if.app-id = "com.facebook.archon"
run = "move-node-to-workspace 3D --focus-follows-window"
