#!/bin/bash

# This script will run if any of the following files have changed
# {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "aerospace.toml" | include | sha256sum }}

aerospace reload-config
