#!/bin/bash

# This script will run if any of the following files have changed
# {{ joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) "aerospace.toml" | include | sha256sum }}

aerospace reload-config

if ! defaults read com.apple.dock expose-group-apps 2>/dev/null | grep -q '^1$'; then
  defaults write com.apple.dock expose-group-apps -bool true
  killall Dock
fi
