<!-- chezmoi:modify-template -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>en_US@rg=huzzzz</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
		<string>hu-HU</string>
	</array>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>en_US@rg=huzzzz</string>
	<key>AppleMeasurementUnits</key>
	<string>Centimeters</string>
	<key>AppleMenuBarVisibleInFullscreen</key>
	<false/>
	<key>AppleMetricUnits</key>
	<integer>1</integer>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<true/>
	<key>AppleTemperatureUnit</key>
	<string>Celsius</string>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>NSAutomaticCapitalizationEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSDocumentSaveNewDocumentsToCloud</key>
	<false/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	{{ regexFind "<key>NSLinguisticDataAssetsRequestTime</key>[\\s\\n]+<date>(.*)</date>" .chezmoi.stdin }}
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>en_US</string>
		<string>hu</string>
		<string>hu_HU</string>
		<string>mul</string>
		<string>mul_Latn</string>
		<string>fi</string>
		<string>de</string>
		<string>tr</string>
		<string>pl</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>hu</string>
		<string>fi</string>
		<string>de</string>
		<string>tr</string>
		<string>pl</string>
	</array>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSNavPanelExpandedStateForSaveMode2</key>
	<true/>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSTableViewDefaultSizeMode</key>
	<integer>2</integer>
	<key>NSUserDictionaryReplacementItems</key>
	<array/>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>NSVisualBidiSelectionEnabled</key>
	<true/>
	<key>PMPrintingExpandedStateForPrint</key>
	<true/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
	<key>_AKBAACertMarkerKey</key>
	<data>
	sFZLOLtpkieu8mkkuzYnpwUGIIX+4OpTc96daQi83nk=
	</data>
	<key>_HIHideMenuBar</key>
	<true/>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict/>
		<key>dirMap</key>
		<dict/>
	</dict>
	<key>com.apple.gms.availability.accessNotGrantedUseCases</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.gms.availability.disabledUseCases</key>
	<data>
	YnBsaXN0MDChAV8QI2NvZGVMTS5kZW55VGhpc1VzZUNhc2VPbkp1bmU2b2YyMDI0CAoA
	AAAAAAABAQAAAAAAAAACAAAAAAAAAAAAAAAAAAAAMA==
	</data>
	<key>com.apple.gms.availability.disallowedUseCases</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.gms.availability.essentialAssetReadiness</key>
	<data>
	dHJ1ZQ==
	</data>
	<key>com.apple.gms.availability.key</key>
	<data>
	YnBsaXN0MDChARAACAoAAAAAAAABAQAAAAAAAAACAAAAAAAAAAAAAAAAAAAADA==
	</data>
	<key>com.apple.gms.availability.useCasesWhoseAssetsAreOutOfStorage</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.gms.availability.useCasesWhoseAssetsNotReady</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.keyboard.fnState</key>
	<true/>
	<key>com.apple.mouse.linear</key>
	<true/>
	<key>com.apple.mouse.scaling</key>
	<real>0.6875</real>
	<key>com.apple.mouse.tapBehavior</key>
	<integer>1</integer>
	<key>com.apple.scrollwheel.scaling</key>
	<real>0.3125</real>
	<key>com.apple.sound.beep.feedback</key>
	<integer>0</integer>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.swipescrolldirection</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<false/>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
</dict>
</plist>
